<% content_for :title do %>Nuevo Proveedor<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Nuevo Proveedor</h1>

<%= render 'form' %>

<%= link_to 'Volver', providers_path %>
