<% content_for :title do %>Nuevo Estado<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<h1 class="page-header">Nuevo Estado</h1>

<%= render 'form' %>

<%= link_to 'Back', statuses_path %>
