<% content_for :title do %>Editar Cliente<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Editar Cliente</h1>

<%= render 'form' %>

<%= link_to 'Ver', @client %> |
<%= link_to 'Volver', clients_path %>
