<% content_for :title do %>Nuevo Pedido<% end %>
<% content_for :menu_orders do %>class ="active"<% end %>

<h1 class="page-header">Nuevo Pedido</h1>

<%= render 'form' %>

<%= link_to 'Back', orders_path %>
