<% content_for :title do %>Editar Factura<% end %>
<% content_for :menu_orders do %>class ="active"<% end %>

<h1 class="page-header">Editar Factura</h1>

<%= render 'form' %>

<%= link_to 'Ver', @ticket %> |
<%= link_to 'Volver', tickets_path %>
