<% content_for :title do %>Nueva Factura<% end %>
<% content_for :menu_orders do %>class ="active"<% end %>

<h1 class="page-header">Nueva Factura</h1>

<%= render 'form' %>

<%= link_to 'Volver', tickets_path %>
