<% content_for :title do %>Nuevo Pago<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Venta <i class="fa fa-angle-right"></i> <small>Nuevo Pago</small></h1>

<%= render 'form' %>

<%= link_to 'Volver', sales_path %>
