<% content_for :title do %>Nuevo Producto<% end %>
<% content_for :menu_orders do %>class ="active"<% end %>

<h1 class="page-header">Pedido <i class="fa fa-angle-right"></i> <small>Nuevo Producto</small></h1>

<%= render 'form' %>

<%= link_to 'Volver', order_in_orders_path(@order) %>
