<% content_for :title do %>Editar Vendedor<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Editar Vendedor</h1>

<%= render 'form' %>

<%= link_to 'Ver', @vendor %> |
<%= link_to 'Volver', vendors_path %>
