<% content_for :title do %>Nuevo Vendedor<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Nuevo Vendedor</h1>

<%= render 'form' %>

<%= link_to 'Volver', vendors_path %>
