<% content_for :title do %>Editar Producto<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Producto <i class="fa fa-angle-right"></i> <small>Editar Stock</small></h1>

<%= render 'form' %>

<%= link_to 'Ver', product_in_stock_path(@in_stock.product,@in_stock) %> |
<%= link_to 'Volver', product_in_stocks_path %> |
<%= link_to 'Stock', instock_path(@in_stock.stock) %>