<% content_for :title do %>Nuevo Producto<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Producto <i class="fa fa-angle-right"></i> <small>Nuevo Stock</small></h1>

<%= render 'form' %>

<%= link_to 'Volver', product_in_stocks_path %>
