<% content_for :title do %>Editar Vendedor<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Editar Inicio Vendedor</h1>

<%= render 'form' %>

<%= link_to 'Show', @in_vendor %> |
<%= link_to 'Back', in_vendors_path %>
