<% content_for :title do %>Editar Forma de Pago<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<h1 class="page-header">Editar Forma de Pago</h1>

<%= render 'form' %>

<%= link_to 'Show', @payment %> |
<%= link_to 'Back', payments_path %>
