<% content_for :title do %>Nueva Forma de Pago<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<h1 class="page-header">Nueva Forma de Pago</h1>

<%= render 'form' %>

<%= link_to 'Back', payments_path %>
