<% content_for :title do %>Editar Producto<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Venta <i class="fa fa-angle-right"></i> <small>Editar Producto</small></h1>

<%= render 'form' %>

<%= link_to 'Show', sale_item_path(@sale,@item) %> |
<%= link_to 'Back', sale_items_path(@sale) %>
