<% content_for :title do %>Nuevo Impuesto<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<h1 class="page-header">Nuevo Impuesto</h1>

<%= render 'form' %>

<%= link_to 'Volver', taxes_path %>
