<<<<<<< HEAD
<% content_for :title do %>Nueva Categoría<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Nueva Categoría</h1>

<%= render 'form' %>

<%= link_to 'Volver', categories_path %>
=======
<h1 class="page-header">New Category</h1>

<%= render 'form' %>

<%= link_to 'Back', categories_path %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
