<% content_for :title do %>Nueva Categoría<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Nueva Categoría</h1>

<%= render 'form' %>

<%= link_to 'Volver', categories_path %>
