<% content_for :title do %>Editar Producto<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Editar Producto</h1>

<%= render 'form' %>

<%= link_to 'Ver', @product %> |
<%= link_to 'Volver', products_path %>
