<<<<<<< HEAD
<% content_for :title do %>Nuevo Producto<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Nuevo Producto</h1>

<%= render 'form' %>

<%= link_to 'Volver', products_path %>
=======
<h1 class="page-header">New Product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
