<% content_for :title do %>Dash<% end %>

<<<<<<< HEAD
<% if current_user.permission_level == 3 %>
	<h1 class="page-header">Hello Admin</h1>
<% elsif current_user.permission_level == 1 %>
	<h1 class="page-header">Hola Terminal</h1>
<% elsif current_user.permission_level == 0%>
	<h1 class="page-header">Hola Vendor</h1>
<% end %>
=======
<h1 class="page-header">Hola Ruby On Rails</h1>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
