<% content_for :title do %>Nueva Medida<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<h1 class="page-header">Nueva Medida</h1>

<%= render 'form' %>

<%= link_to 'Back', measures_path %>
