<% content_for :title do %>Nueva Venta<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Nueva Venta</h1>

<%= render 'form' %>

<%= link_to 'Volver', sales_path %>
